{% extends 'base.html' %}

{% block content %}

<div class="container name">Orthographic Mapper  <sup style="font-size: 50% !important;">beta</sup></div>
    
<div class="container">
<form class="" action="omap" name="omap_form" method="POST">
    <div class="container">
        <div class="word_container">
            <input type="text" placeholder="Word to Map!" class = "word_input" name="word_input" rows="1" cols="40" required><br>
            </div>    
            </div>
            <!-- <div class="container jumbotron user_type">
                <input type="radio" id="learner" name="user" value="learner" required>
                  <label for="learner">Get Stressed Syllable</label><br>
                  <input type="radio" id="teacher" name="user" value="teacher" required>
                  <label for="teacher">Get all types of stressed Phonemes</label><br>
                  <input type="radio" id="student" name="user" value="student" required>
                  <label for="student">Get all types of stressed letters</label>
                </div> -->


            <div class="container">
            <div class="highlight-button">
              <input class="button-75" type="submit" name="omap" value="Get Mapping">
            </div>
          </div>
</form>
</div>
<div class = "container ">
    <div class = "omaps">
        <p>{{map|safe}}</p><br><br><br>


    </div>
    </div>
<input type="hidden" id="source" name="source" value="Mapper">

{% endblock %}